---
# based on https://github.com/actions/starter-workflows/blob/main/ci/cmake-single-platform.yml
name: Spark-DSG Build and Test
on: {push: {branches: [main]}, pull_request: {}}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Dependencies
        run: sudo apt-get update && sudo apt install pipx
      - name: Lint
        run: pipx install pre-commit && cd ${{github.workspace}} && pre-commit run --all-files
  cmake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: CCache
        id: cache-ccache
        uses: actions/cache@v4
        with:
          path: ~/.cache/ccache
          key: ${{ runner.os }}-ccache-${{ github.sha}}
          restore-keys: |
            ${{ runner.os }}-ccache-${{ github.sha}}
            ${{ runner.os }}-ccache-
      - name: Dependencies
        run: sudo apt-get update && sudo apt install libgtest-dev libeigen3-dev nlohmann-json3-dev libzmq3-dev ccache
      - name: Configure
        run: |
          cmake -B ${{github.workspace}}/build \
            -DBUILD_TESTING=ON \
            -DCMAKE_BUILD_TYPE=Release \
            -DSPARK_DSG_BUILD_EXAMPLES=ON \
            -DCMAKE_CXX_COMPILER_LAUNCHER=ccache \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache
      - name: Build
        run: cmake --build ${{github.workspace}}/build --config Release -j
      - name: Test
        working-directory: ${{github.workspace}}/build
        run: ctest -C Release
  python:
    runs-on: ubuntu-latest
    strategy: {matrix: {python-version: ['3.8', '3.10', '3.12']}}
    steps:
      - uses: actions/checkout@v4
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Dependencies
        run: |
          python -m pip install --upgrade pip
          sudo apt-get update && sudo apt install python3-dev
      - name: Install
        run: python -m pip install ${{github.workspace}}
      - name: Test
        run: |-
          pip install torch --index-url https://download.pytorch.org/whl/cpu
          pip install pytest networkx torch_geometric
          pytest ${{github.workspace}}/python/tests
  ros2:
    runs-on: ubuntu-latest
    container: ros:jazzy-ros-base
    steps:
      - uses: actions/checkout@v4
        with: {path: src/spark_dsg}
      - name: CCache
        id: cache-ccache
        uses: actions/cache@v4
        with:
          path: ~/.cache/ccache
          key: ${{ runner.os }}-ccache-${{ github.sha}}
          restore-keys: |
            ${{ runner.os }}-ccache-${{ github.sha}}
            ${{ runner.os }}-ccache-
      - name: Dependencies
        run: |
          apt update && apt install -y python3-vcstool git ccache
          rosdep update --rosdistro jazzy && rosdep install --rosdistro jazzy --from-paths src --ignore-src -r -y
      - name: Build
        run: colcon build --cmake-args -DCMAKE_BUILD_TYPE=Release -DSPARK_DSG_BUILD_EXAMPLES=ON -DCMAKE_CXX_COMPILER_LAUNCHER=ccache -DCMAKE_C_COMPILER_LAUNCHER=ccache
      - name: Test
        run: colcon test
